@import "src/themeFunctions";

.jm-CharacterHeader {
    min-height: $character-bar-height;
    max-height: $character-bar-height;

    &__portrait {
        width: auto;
        height: 100%;
    }

    img {
        width: auto;
        height: 100%;
    }

    &__stats {
        display: flex;
        flex-flow: column;
        align-content: stretch;
        padding-left: map-get($spacers, 0);
        padding-right: map-get($spacers, 0);
        div {
            text-align: center;
            flex: 1 0 auto;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
