@import "src/themeFunctions";

.jm-CharacterHeader {
    z-index: 1;
    // Opaque white
    background: #ffffffff;

    &__portrait {
        padding: {
            left: 0;
            right: 0;
        }
    }

    &__stats {
        display: flex;
        flex-flow: column;
        align-content: stretch;
        padding-left: map-get($spacers, 0);
        padding-right: map-get($spacers, 0);
        line-height: 1;
        div {
            text-align: center;
            flex: 1 0 auto;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
