.jm-ChapterTable {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;

    padding: 0;
    width: 100%;

    border-spacing: 5px;
}
.jm-ChapterTable::-webkit-scrollbar {
    width: 0 !important;
}
