$primary: #82d173 !default;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$character-bar-heights: (
    xs: 80px,
    sm: 80px,
    md: 120px,
    lg: 120px,
    xl: 120px,
);

@mixin character-bar-height($height-map: $character-bar-heights, $fs-breakpoints: $grid-breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $height-map {
        @if $fs-breakpoint == null {
            min-height: $fs-font-size;
            max-height: $fs-font-size;
        } @else {
            @media screen and (min-width: map_get($fs-breakpoints, $fs-breakpoint)) {
                min-height: $fs-font-size;
                max-height: $fs-font-size;
            }
        }
    }
}

$character-bar-height: 40px;
