@import "src/themeFunctions";

.jm-Opportunity {
    padding-left: map-get($spacers, 0);
    padding-right: map-get($spacers, 0);
    img {
        width: 100%;
    }

    &__selected {
        position: absolute;
        right: 0;
        bottom: 0;
        background: green;
        color: white;
        font-weight: bolder;
        line-height: 1;
    }
}
