.jm-PlannerTable {
    > .col {
        overflow: {
            x: auto;
            y: hidden;
        }
    }
    &__bar {
        flex-wrap: nowrap;
    }

    &__corner {
        z-index: 1;
        // Opaque white
        background: #ffffffff;
    }
}
